<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The following errors prevented the form from being saved:
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
